MARIADB_DATABASE=your_database_name
MARIADB_USER=your_username
MARIADB_PASSWORD=your_password
MARIADB_ROOT_PASSWORD=your_root_password
TZ=Asia/Tokyo

WP_ADMIN_USER=your_admin_username
WP_ADMIN_PASSWORD=your_admin_password
WP_ADMIN_EMAIL=your_email@example.com
